---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

a
{
	color: #000;
	text-decoration: none;

	&:visited
	{
		color: #000;
	}
}

body
{
	background-color: #fff;
	color: #000;
	margin: 0;
	padding: 0;
}

body, p, ol, ul, td
{
	font-family: helvetica neue, helvetica, arial, verdana, sans-serif;
	font-size: 8pt;
	line-height: normal;
}

h2
{
	clear: both;
	color: #000;
	font-size: 11pt;
	border-bottom: 2px solid #000;
	padding-bottom: 0.2em;
	padding-top: 0.3em;
}

ul
{
	padding-left: 1em;
	margin-left: 1em;
}



/**
* HEADER
**/
.site-header
{
	h1
	{
		float: left;
		padding: 0;
		margin: 0;
	}

	.contact-list
	{
		float: right;
		list-style-type: none;
		padding: 0;
		margin: 0;
	}

	.pages
	{
		display: none;
	}
}



/*
* EXPERIENCE
*/
#experience
{
	h3
	{
		display: inline;

		&:after
		{
			content: ", ";
		}
	}

	h4
	{
		display: inline;
		font-weight: normal;
	}

	h5
	{
		font-weight: normal;
		margin: 0;
		padding: 0;
	}

	.post-content
	{
		margin: 1em 0;

		li
		{
			list-style-type: disc;
		}
	}

	ul.post-list
	{
		list-style-type: none;
		padding-left: 0;
		margin-left: 0;
	}
}



/*
* PATENTS
*/
#patents, #education
{
	h3
	{
		margin: 0;
		padding: 0;
	}

	h4
	{
		display: inline;
		font-weight: normal;

		&:after
		{
			content: " | ";
		}
	}

	h5
	{
		display: inline;
		font-weight: normal;
		margin: 0;
		padding: 0;
	}

	.post-content
	{
		margin: 1em 0;

		li
		{
			list-style-type: disc;
		}
	}

	ul.post-list
	{
		list-style-type: none;
		padding-left: 0;
		margin-left: 0;
	}
}



/**
* RECOMMENDATIONS
**/
#recommendations
{
	page-break-before: always;

	h4
	{
		display: inline;
		font-weight: normal;
	}

	ul
	{
		list-style-type: none;
		margin: 0;
		padding: 0;

		li
		{
			section, footer
			{
				margin: 0 1em 1em 0;
			}

			img
			{
				border: 0 none;
				float: left;
				/* clear for IE */
				clear: both;
				height: 24px;
				width: 25px;
				padding: 0;
				margin: 0 0.6em 0.6em 0;
			}
		}
	}
}



/**
* SKILLS
**/
#skills
{
	ul
	{
		padding-left: 0;
		margin-left: 0;
	}
}



/**
* FOOTER
**/
.site-footer
{
	display: none;
}



/**
* Imported from main.scss
**/

// variables
$grey-color:       #828282;



/**
* Imported from _base.scss
**/

.icon {

		> svg {
				display: inline-block;
				width: 16px;
				height: 16px;
				vertical-align: middle;

				path {
						fill: $grey-color;
				}
		}
}



/**
* Imported from _layout.scss
**/

#skills li
{
	display: inline;
	list-style-type: none;

	&:after
	{
		content: ", ";
	}

	&:last-child:after
	{
		content: "";
	}
}
