---
layout: default
---

<div class="home">

	<ul class="post-list">
		{% for post in paginator.posts %}
			{% if post.layout == 'post' %}
			<li>
				<article class="post">

					<header class="post-header">
						<span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
						{% if post.title != '' %}
						<h2>
							<a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
						</h2>
						{% endif %}
					</header>

					<section class="post-content">
						{{ post.content }}
					</section>

				</article>
			</li>
			{% endif %}
		{% endfor %}
	</ul>

	<nav class="pagination">
		{% if paginator.previous_page %}
			<a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
		{% else %}
			<span class="previous">Previous</span>
		{% endif %}
		<span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
		{% if paginator.next_page %}
			<a href="{{ paginator.next_page_path }}" class="next">Next</a>
		{% else %}
			<span class="next ">Next</span>
		{% endif %}
	</nav>

	<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
