---
layout: default
---

<div class="home">

	<ul class="post-list">
		{% for post in paginator.posts %}
			{% if post.layout == 'post' %}
			<li>
				<article class="post">

					<header class="post-header">
						<span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
						{% if post.title != '' %}
						<h2>
							<a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
						</h2>
						{% endif %}
					</header>

					<section class="post-content">
						{{ post.content }}
					</section>

				</article>
			</li>
			{% endif %}
		{% endfor %}
	</ul>

</div>
