<article class="post">

	<header class="post-header">
		<h3 class="post-title">{{ post.title }}</h3>
		<h4>{{ post.company }}</h2>
		<h5 class="post-meta">
			<time datetime="{{post.date}}">{{ post.date | date: "%B %Y" }}</time>
			–
			{% if post.end_date %}
			<time datetime="{{post.end_date}}">{{ post.end_date | date: "%B %Y" }}</time>
			{% else %}
				Present
			{% endif %}
			&nbsp;|&nbsp;
			{{ post.location }}
		</h5>
	</header>

	<section class="post-content">
		{{ post.content }}
	</section>

</article>
